


#gif{
    background-color: black;
}
.center{
text-align: left;

}
nav ul {
    list-style-type: none;
    padding: 20px;
    margin: 0px;
    display: flex;
    font-size:x-large;
    
  }
  
  
  nav ul li :hover{
    margin: 0 5px;
    text-decoration: underline;
    text-decoration-color: blue;
    color: rgb(198, 79, 79)
    
  }
  .set-m1{
    align-items:center;
    margin-left: 45%;
    margin-top: 5%;
    
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
  }
.top img{
    
    height: 70px;
    margin-left: 0%;}



.top {
width:auto;
margin: 0 auto;
display: flex;
justify-content: space-between;




}
.set-m1 {
 color: #ffffff;
 background-color: white
  height: 5% ;
  cursor: pointer;
  font-weight: bold;
  content-box-radius: 15px;
  font-size: 35px;
  padding: 5px;

}
.set-m1{
  
color: #000000;} 


nav ul li {
  margin: 0 15px;
}


.center{
text-align: left;
}
nav ul {
    list-style-type: none;
    padding: 20px;
    margin: 0px;
    display: flex;
   
  }
  
  
  nav ul li {
    margin: 0 15px;
  
  
  }
  .set-m1{
    align-items: center;
    margin-left: 35%;
    margin-top: 5%;
    font-size: large;
    
  }
  

  .social-links{
    text-decoration: ;
    color: black;
    text-decoration-color: blue;
    font-size: xx-large;
  }

  /*.footer{
    text-decoration: underline;
    text-decoration-color: rgb(211, 97, 97);
    font-size: x-large  ;
  }*/

  body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
  }
  
  .container {
    max-width: 1170px;
    margin: auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 28%;
  }
  
  ul {
    list-style: none;
  }
  
  .footer {
    background-color: #24262b;
  }
  
  .footer-col .social-links a {
    display: inline-block;
    height: 65px;
    width: 90px;
    background-color: rgb(198, 79, 79);
    margin: 5px 15px 15px 5px;
    text-align: center;
    line-height: 60px;
    color: #ffffff;
    transition: all 0.5s ease;
    font-family: sans-serif;
    font-size: x-large;
    border-radius: 25%;
    position:;
  }
  
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: white;
    text-decoration: underline;
    text-decoration-color: silver;
  }
  
  @media (max-width: 767px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  
  @media (max-width: 574px) {
    .footer-col {
      width: 100%;
    }
  }